<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Ludo-king | Designed By Ghs Julian</title>
        <meta
            name="description"
            content="Hire Ghs Julian, a seasoned web developer with expertise in JavaScript, HTML, CSS, and more. Explore my portfolio and let's build something amazing together!"
        />
        <meta
            name="keywords"
            content="Ghs Julian, web developer, JavaScript developer, HTML, CSS, web development, portfolio, hire a developer"
        />
        <!-- Open Graph Protocol meta tags -->
        <meta
            property="og:title"
            content="Ghs Julian - Expert Web Developer | JavaScript, HTML, CSS & More"
        />
        <meta
            property="og:description"
            content="Hire Ghs Julian, a seasoned web developer with expertise in JavaScript, HTML, CSS, and more. Explore my portfolio and let's build something amazing together!"
        />
        <meta property="og:image" content="/images/ghs_julian.png" />
        <meta property="og:url" content="https://ghsresume.netlify.app" />
        <meta property="og:type" content="website" />
        <!-- Twitter meta tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content="Ghs Julian - Expert Web Developer | JavaScript, HTML, CSS & More"
        />
        <meta
            name="twitter:description"
            content="Hire Ghs Julian, a seasoned web developer with expertise in JavaScript, HTML, CSS, and more. Explore my portfolio and let's build something amazing together!"
        />
        <meta name="twitter:image" content="https://example.com/image.jpg" />
        <!-- Viewport meta tag for responsiveness -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/layouts.css" />
        <link rel="stylesheet" href="/css/Ludu.css" />
    </head>
    <body>
<%- include("./layouts/header.ejs") %>
        <main>
            <section>
                <h3>Play Your Favorite Games</h3>
                <div class="grid-row">
                    <div class="row">
                        <img src="/images/ludo-bg.jpg" />
                        <h3>Online Ludo King</h3>
                        <a href="/playground">Play Now</a>
                    </div>
                </div>
                 <div class="grid-row">
                    <div class="row">
                        <a href="/ludo">Play Demo</a>
                    </div>
                </div>
            </section>
        </m>
<script src="/js/menu.js"></script>
   </body>
</html>
